/* Font */

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* Titulos */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* letra normal */


/* Variables */

:root {
    --color-negro: rgba(0, 0, 0, .8);
    --color-gris: rgba(255, 255, 255, .3);
    --letra: 'Open Sans', sans-serif;
    --titulo: 'Bree Serif', serif;
    --fondo-img-celular: url("style/img/craneofondo.png") no-repeat;
    --fondo-img-computer: url("style/img/craneo-computar.png") no-repeat;
    --posicion-img: center top;
}


/* _______________________________________Computer_________________________________________________ */

html {
    margin: 0px;
    padding: 0pc;
    background: var(--color-negro);
}

body {
    font-family: var(--letra);
    color: white;
    background: var(--fondo-img-computer);
    background-position: var(--posicion-img);
    height: 100vh;
}

h1 {
    font-family: var(--titulo);
    margin: 0px;
}

header {
    background: var(--color-gris)
}

.header_name {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_name h1 {
    color: white;
    font-size: 2em;
    text-shadow: 0px 2px 6px black;
}

.header_name img {
    width: 65px;
    height: 65px;
    padding: 2px;
}


/* buscar */

.buscar {
    display: grid;
    justify-content: center;
}

.buscar .titulo h1 {
    color: white;
    font-size: 6em;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    text-shadow: 0px 2px 6px black;
}


/* search */

.search {
    text-align: center;
}

.search form {
    display: grid;
    grid-template-columns: repeat(3, 55px);
    grid-template-rows: repeat(3, 40px);
    grid-column-gap: 10%;
    grid-row-gap: 70%;
    justify-content: center;
}

.search form input {
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 9px 15px;
    grid-column: 1/ span 4;
}

.search form input:hover {
    box-shadow: 1px 2px 6px;
}

.search form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 112px;
    width: 112px;
}

.search form div .caja-boton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search form div .caja-boton:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, .1);
    border-radius: 20px;
}

.search form .boton {
    padding: 0%;
    border-radius: 20px;
    border: none;
    outline: none;
    background: none
}

.search form div .boton img {
    max-width: 55px;
    max-height: 40px;
}

.search form .boton img {
    max-width: 100%;
    max-height: 100%;
}

.search form .boton img[alt="facebook"] {
    border-radius: 20px;
}

#b_logo {
    max-width: 50%;
}

#site-logo {
    max-width: 98%;
    max-height: 98%;
    border-radius: 20px
}

footer {
    display: flex;
    background-color: var(--color-gris);
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
}


/* _________________________________________Mobile______________________________________________ */

@media screen and (max-width: 768px) {
    body {
        background: var(--fondo-img-celular);
        background-position: var(--posicion-img);
        height: 100vh;
    }
    .header_name {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header_name h1 {
        font-size: 2.5em;
        text-shadow: 0px 2px 6px black;
    }
    .header_name img {
        width: 38px;
        height: 39px;
        padding: 2px;
    }
    /* buscar */
    .buscar {
        display: grid;
        justify-content: center;
    }
    .buscar .titulo h1 {
        text-align: center;
        margin-top: 30%;
        margin-bottom: 10%;
        font-size: 2.5em;
        text-shadow: 0px 2px 6px black;
    }
    /* search */
    .search {
        text-align: center;
    }
    .search form {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(5, 40px);
        grid-gap: 35%;
        justify-content: center;
    }
    .search form input {
        border-radius: 30px;
        outline: none;
        border: none;
        padding: 9px 15px;
        grid-column: 1/ span 2;
    }
    .search form .boton {
        padding: 0%;
        border-radius: 20px;
        border: none;
        outline: none;
        background: none
    }
    .search form .boton img {
        max-width: 100%;
        max-height: 100%;
    }
    .search form .boton img[alt="facebook"] {
        border-radius: 20px;
    }
    #b_logo {
        max-width: 50%;
    }
    #site-logo {
        max-width: 98%;
        max-height: 98%;
        border-radius: 20px
    }
    /* footer */
    footer {
        display: none;
    }
}